/* Navbar CSS */
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 2%;
    padding: 1%;
    height: auto;
}

nav {
    width: 73%;
    padding: 1%;
}

nav ul {
    width: 50%;
    margin-left: auto;
}

/* Center images inside logo */
.logo img {
    text-align: center;
}

/* Hero image CSS */
.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/* Footer CSS */
footer {
    background-color: #373738;
    padding: 20px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer ul li {
    padding: 5px;
}
